<div class="mesh-layer mesh-layer--primary">
  <div class="mesh-blob blob-1"></div>
  <div class="mesh-blob blob-2"></div>
  <div class="mesh-blob blob-3"></div>
</div>
<div class="mesh-layer mesh-layer--secondary">
  <div class="mesh-blob blob-1"></div>
  <div class="mesh-blob blob-2"></div>
  <div class="mesh-blob blob-3"></div>
</div>
<div class="mesh-layer mesh-layer--tertiary">
  <div class="mesh-blob blob-1"></div>
  <div class="mesh-blob blob-2"></div>
  <div class="mesh-blob blob-3"></div>
  <div class="mesh-blob blob-4"></div>
</div>
<div class="mesh-layer mesh-layer--sparkles">
  <div class="sparkle s1"></div>
  <div class="sparkle s2"></div>
  <div class="sparkle s3"></div>
  <div class="sparkle s4"></div>
  <div class="sparkle s5"></div>
  <div class="sparkle s6"></div>
  <div class="sparkle s7"></div>
  <div class="sparkle s8"></div>
</div>
